
<div snap-drawer>
    <button class="btn btn-primary btn-small" ng-click="saveCurrent()">Save</button>
    <button class="btn btn-primary btn-small" ng-click="resetAll()">Reset</button>
</div>


<div class="snap-content" snap-content snap-options="snapOpts">

  <div class="row">
    <div class="col-xs-12 border-b padding-0">
      <input eb-caret="caret" type="text" class="form-control" ng-model="form_data" placeholder="Welcome To My-Custom-Calculator !" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 border-b">
      <button class="btn btn-primary btn-small" snap-toggle="left">Menu</button>
    </div>  
    <div class="col-xs-2 border-b">
      |<
    </div>
    <div class="col-xs-4 border-b" ng-click="ttt()">
      scroll graphic
    </div>
    <div class="col-xs-2 border-b">
      >|
    </div>  
    <div class="col-xs-2 border-b" ng-click="locked = !locked">
      lock Graphic
    </div>        
  </div>

  <div class="row">
      <div gridster="gridsterOpts" class="col-xs-12">
          <ul>
              <li ng-if="locked" gridster-item="item" ng-repeat="item in current_items" ng-click="insertValue(item.value)">
                  {{item.name}}
              </li>
              <li ng-if="!locked" gridster-item="item" ng-repeat="item in current_items">
                  {{item.name}}
              </li>              
          </ul>
      </div>
  </div>
</div>

