


body{
  background-color: #EAEAEA;
  /*#ebebeb;*/
  font-family: Roboto;
}


.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    
    color: white;
    background-color: #424242;
    padding: 10px;
}


.snap-drawer{
  background-color: #212121;
}

.snap-content{
	background-color: #757575;
	padding: 10px;
}

.grid-button-selected{
  border: 1px dashed #EF5350;
}



input[type="checkbox"]{
  width: 10px; 
  height: 10px;
}



